.navbar-wrapper{
    background: #ffffff;
    /* box-shadow: 0 1px 3px -2px #000; */
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        .nav-menu{
            display: flex;
            gap: 20px;
            font-size: 16px;
            li{
                cursor: pointer;
                &.active{
                    &:after{
                        content: '';
                        display: block;
                        margin-top: 2px;
                        width: 100%;
                        height: 1px;
                        background: #000;
                    }
                }
            }
        }
        .nav-login-cart{
            position: relative;
            .nav-cart-count{
                top: -4px;
                right: -6px;
                background: red;
                color: #fff;
                width: 16px;
                height: 16px;
                line-height: 16px;
                border-radius: 100%;
                text-align: center;
                position: absolute;
                font-size: 12px;
            }
        }
    }
}