.popular{
    padding: 40px 0;
    flex-wrap: wrap;
    .popular-item{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        img{
            margin-bottom: 12px;
        }
    }
}